@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
  border: red solid 2px;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  margin: auto;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.header, .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.input {
  display: flex;
  justify-content: center;
}